body{
    background: blue;
    color:white;
}
nav{
    width: 100%;
    height: 100px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:0px 100px 0px 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menu a{
    text-decoration: none;
    color:white;
    font-size:20px;
    padding:10px 20px 10px 20px;
    margin:0px 5px 0px 0px ;
}

.menu a:last-clid{
    background-color: orangered;
    border-radius:10px;
}

.menu a:hover{
    background: orangered;
    border-radius:5px;
}

.container{
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;
    margin: 0px 5px 0px 0px;
}
.left{
    flex-basis: 40%;
}
.right{
    flex-basis:50%;
}

.right img{
    width:100%;
}

